</div>

<ul class="user-dropdown link-list is-dropdown" id="user-dropdown">
  

  <li class="dropdown-newpen">
    <a href="#">
      Bloc
    </a>
  </li>

  <li class="dropdown-newpost">
    <a href="#">
      Frontend Web Development
    </a>
  </li>

  <li class="dropdown-activity">
    <a href="#">
      Refer a Friend
    </a>
  </li>

  <li class="dropdown-embedbuilder">
    <a href="#">
      Roadmaps
    </a>
  </li>


  <li class="dropdown-yoursettings">
    <a href="#">
      Messages
    </a>
  </li>

  <li class="dropdown-help">
    <a href="#">
      Schedule
    </a>
  </li>

  <li class="dropdown-logout sep-after">
    <a href="#">
      Account
</a>  </li>


  <li class="dropdown-profile">
    <a href="#">
      Log Out
    </a>
  </li>

</ul>
<div ui-view></div>