<div class="user-stuff header-chunk">


  <img id="mini-personal-avatar" src="#placeholder for Bloc" width="44" height="44" class="user-avatar" alt="Bloc" data-dropdown="#user-dropdown">

</div>

<ul class="user-dropdown link-list is-dropdown" id="user-dropdown">
  

  <li class="dropdown-bloc">
    <a href="#">
      Bloc
    </a>
  </li>

  <li class="dropdown-front">
    <a href="#">
      Frontend Web Development
    </a>
  </li>

  <li class="dropdown-refer">
    <a href="#">
      Refer a Friend
    </a>
  </li>

  <li class="dropdown-roadmaps">
    <a href="#">
      Roadmaps
    </a>
  </li>


  <li class="messages-btn">
    <a href="#">
      Messages
    </a>
  </li>

  <li class="schedule-btn">
    <a href="#">
      Schedule
    </a>
  </li>

  <li class="dropdown-account">
    <a href="#">
      Account
</a>  </li>


  <li class="logout-btn">
    <a href="#">
      Log Out
    </a>
  </li>

</ul>

        <a href="#job-post" class="post-job-button">Post a Job</a>
      </div>

<div ui-view></div>